<li class='country__row-flex country__row-mtb6'>
  <img src='{{flags.svg}}' alt='Flag of country' width='30' />
  <span class='country__name-ml8'>{{name.common}}
    (full name:
    {{name.official}})</span>
</li>
